
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 70% 15%;
    --card: 60 56% 91%;
    --card-foreground: 25 70% 15%;
   --popover: 60 56% 91%;
    --popover-foreground: 25 70% 15%;
    --primary: 25 70% 31%;
    --primary-foreground: 60 30% 98%;
    --secondary: 30 46% 85%;
    --secondary-foreground: 25 70% 31%;
    --muted: 30 46% 85%;
    --muted-foreground: 25 70% 25%;
    --accent: 30 46% 65%;
    --accent-foreground: 25 70% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 70% 80%;
    --input: 25 70% 80%;
    --ring: 25 70% 31%;
    --radius: 0.5rem;
    --chart-1: 25 60% 38%;
    --chart-2: 30 70% 60%;
    --chart-3: 20 20% 50%;
    --chart-4: 40 40% 55%;
    --chart-5: 120 25% 40%;

  }

  .dark {
  --background: 25 10% 10%;
  --foreground: 60 30% 98%;
  --card: 25 10% 10%;
  --card-foreground: 60 30% 98%;
  --popover: 25 10% 10%;
  --popover-foreground: 60 30% 98%;
  --primary: 30 46% 65%;
  --primary-foreground: 25 70% 15%;
  --secondary: 25 10% 20%;
  --secondary-foreground: 60 30% 98%;
  --muted: 25 10% 20%;
  --muted-foreground: 60 30% 70%;
  --accent: 25 10% 25%;
  --accent-foreground: 60 30% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 25 10% 25%;
  --input: 25 10% 25%;
  --ring: 30 46% 65%;
    --chart-1: 25 60% 45%;
    --chart-2: 30 70% 50%;
    --chart-3: 20 15% 60%;
    --chart-4: 40 30% 65%;
    --chart-5: 120 25% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
